<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blockchain Chart</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/blockchain.css" rel="stylesheet">
  <script src="/javascripts/application.js"></script>
  <script src="/experiments/socket.io/socket.io.js"></script>

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <header>
    <h1>Real Time Blockchain Chart</h1>
  </header>

  <section></section>
  <footer>
    <p>Data from <a href="https://blockchain.info/api">blockchain.info</a></p>
  </footer>
</body>
</html>