<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Blockchain Chart</title>
  <link href="/css/reset.css" rel="stylesheet">
  <link href="/css/blockchain.css" rel="stylesheet">
  <link href="/vendor/css/rickshaw.css" rel="stylesheet">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/vendor/javascripts/json2.js"></script>
  <script src="/vendor/javascripts/underscore.js"></script>
  <script src="/vendor/javascripts/d3.js"></script>
  <script src="/vendor/javascripts/rickshaw.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/blockchain.js"></script>

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>
  <div id='chart'></div>
</body>
</html>